@model RematadosWeb.Models.Articulo


@{
    ViewData["Title"] = "Añadir al carrito";
}

<h1>Mi Carrito de Compras</h1>

<h3>Desea añadir al carrito? </h3>
<div>


<form asp-action="AñadirAlCarrito" name="formulario">
    <input type="hidden" asp-for="Id" />

    <br>
    <input type="submit"  required value="Añadir" class="btn normal">
    <a asp-action="Index" class="btn normal">Volver</a>
</form>
</div>

