<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
</head>

<body id="compraExitosa">
    <div class="card">
        <div id="divCompra">
            <i class="checkmark compraI">✓</i>
        </div>
        <h1 id="compraH1">Compraste!</h1>
        <p id="compraP">Te felicitamos por tu nueva compra<br /> te invitamos a seguir viendo más artículos.</p>
        <a asp-action="Index" class="normal">Volver al menú</a>
    </div>
</body>
