@model RematadosWeb.Models.Articulo

@{
    ViewData["Title"] = "Editar";
}
@{
    <script type="text/javascript">
        function fotopreview(input)
        {
            if (input.files[0])
            {
                var uploadimg = new FileReader(); //reader
                uploadimg.onload = function(displayimg) { //evento
                    $("#ImgPreview").attr('src', displayimg.target.result);// contenido
                }
                uploadimg.readAsDataURL(input.files[0]); //lee el string almacenado en el Blob/File
            }
        }
    </script>
}
<h1>Editar Articulo</h1>


<body class="registro">
    <div class="container">

        <form class="form-horizontal" role="form" asp-action="Edit" enctype="multipart/form-data">
            <h4>Modifique los datos</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="col-sm-3 control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="col-sm-3 control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="col-sm-3 control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="col-sm-3 control-label"></label>
                <select asp-for="Categoria" class="form-control" asp-items="Html.GetEnumSelectList<Categoria>()"></select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="col-sm-3 control-label"></label>
                <input asp-for="Foto" class="form-control" accept="image/jpeg" onchange="fotopreview(this)">
                <img id="ImgPreview" src="@Url.Content(String.Format("~/photos/" + Model.Id + ".jpg"))" onerror="this.src='/photos/sinimagen.jpg';" style="max-width:150px">

            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary btn-block normal" />
            </div>
        </form>
      
    </div>
</body>

    <div>
        @Html.ActionLink("Volver", null, null, null, new { href = @Context.Request.Headers["Referer"] })
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
