@model RematadosWeb.Models.ItemCarrito

@{
    ViewData["Title"] = "Eliminar del carrito";
}

<h1>Eliminar del carrito</h1>

<h3>Borrar del carrito este elemento??</h3>
<div>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn normal" />
        <a asp-action="Index" class="btn normal">Volver al carrito</a>
    </form>
</div>
