@model RematadosWeb.Models.ItemCarrito

@{
    ViewData["Title"] = "Eliminar del carrito";
}

<h1>Eliminar del carrito</h1>

<h3>Borrar del carrito este elemento??</h3>
<div>
    @*<h4>ItemCarrito</h4>
    <hr />*@
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Articulo.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Articulo.Nombre)
        </dd>
    </dl>*@
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn normal" />
        <a asp-action="Index" class="btn normal">Volver al carrito</a>
    </form>
</div>
