.search {
    width: 500px;
    display: flex;
}

.search-box {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    /*text-transform: capitalize;*/
    background: none;
    color: #a9a9a9;
    outline: none;
}

    .search-box::placeholder {
         color: #a9a9a9;
        
    }

.search-btn {
    width: 20%;
    height: 40px;
    padding: 10px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #383838;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



    .search-btn:hover{
        background-color: #201c1c;
    }

    .search-btn:active{
        background-color: #383838; 
    }

.search-box:hover, :active {
    border-color: #0f0f0f;
    transition: 1s;
}
