
@{
    ViewData["Title"] = "Mi pagina principal";
}
@using Microsoft.AspNetCore.Http;
<html>
<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenido, @Context.Session.GetInt32("UsuarioID")!</h1>

        <form asp-controller="Articulos" asp-action="Index">
            <input type="submit"  id="Dash" value="Ir (boton temporal)" hidden />
        </form>

        @*La idea es que con js se quede 2 seg en esta pantalla y luego pase a
            la otra view, es algo temporal para probar funcionalidad*@


    </div>


</body>



</html>

