@model Int32
@{
    ViewData["Title"] = "Mi pagina principal";
}

<html>
<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenido, @Html.DisplayFor(Model => Model)!</h1>

        <form asp-controller="Articulos" asp-action="ListadoArticulos">
            <input type="submit" value="Ir (boton temporal)" />
        </form>

        @*La idea es que con js se quede 2 seg en esta pantalla y luego pase a
            la otra view, es algo temporal para probar funcionalidad*@


    </div>
    <script type="text/javascript">
        var usuarioActual = sessionStorage.getItem("UsuarioActual");
        if (usuarioActual == null || usuarioActual == 0)
        {
            sessionStorage.setItem("UsuarioActual", @Model);

         }
    </script>

</body >




</html >

