@model Int32
@{
    ViewData["Title"] = "Mi pagina principal";
}
<html>
<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenido, @Html.DisplayFor(Model => Model) <span class="UsuarioActualLabel">vacio</span>!</h1>




    </div>

</body>

</html>
