@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Esto es Rematados!</h1>
    <h4>el portal nro 1 de subastas de latinoamerica</h4>
    <br />
    <br />
    Inicia sesion para comenzar!
    <br />
    <br />
    Usuario
    <br />
    <input type="text" />
    <br />
    Contraseña


    <br />
    <input type="password" />
    <br />
    <form asp-controller="Home" asp-action="Dashboard">
        <input type="submit" value="Entrar" />
    </form>


    Aun no estoy registrado

</div>
