USE [master]
GO
/****** Object:  Database [Libros]    Script Date: 11/06/2022 07:28:29 p. m. ******/
CREATE DATABASE [Libros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Libros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Libros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Libros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Libros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Libros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Libros]
GO
/****** Object:  UserDefinedFunction [dbo].[devCantLectoresSalarioMayorOIgualA]    Script Date: 11/06/2022 07:28:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[devCantLectoresSalarioMayorOIgualA](@salario smallmoney)  
RETURNS int   
AS   
-- Devuelve los lectores son salario mayor o igual al pasado por parametro
BEGIN  
    DECLARE @cant int;  
    SELECT @cant = COUNT(*) FROM LECTOR WHERE SALARIO >= @salario        
    RETURN @cant
END; 

GO
/****** Object:  UserDefinedFunction [dbo].[devolverPromedioSalarios]    Script Date: 11/06/2022 07:28:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[devolverPromedioSalarios]()  
RETURNS smallmoney   
AS   
-- Devuelve el promedio de salarios de todos los lectores
BEGIN 
	DECLARE @totalSalario smallmoney;
    DECLARE @cant int;  
	DECLARE @promedio smallmoney;

	SELECT @totalSalario = SUM(SALARIO) FROM LECTOR 
    SELECT @cant = COUNT(*) FROM LECTOR
	SELECT @promedio = @totalSalario/@cant

    RETURN @promedio 
END;
GO
/****** Object:  Table [dbo].[COPIAS]    Script Date: 11/06/2022 07:28:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COPIAS](
	[NRO_LIBRO] [int] NOT NULL,
	[NRO_COPIA] [smallint] NOT NULL,
	[ESTADO] [char](1) NULL,
 CONSTRAINT [PK_COPIAS_1] PRIMARY KEY CLUSTERED 
(
	[NRO_LIBRO] ASC,
	[NRO_COPIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTAMO]    Script Date: 11/06/2022 07:28:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTAMO](
	[NRO_LECTOR] [int] NOT NULL,
	[NRO_LIBRO] [int] NOT NULL,
	[NRO_COPIA] [smallint] NOT NULL,
	[F_PREST] [datetime] NOT NULL,
	[F_DEVOL] [datetime] NULL,
 CONSTRAINT [PK_PRESTAMO] PRIMARY KEY CLUSTERED 
(
	[NRO_LECTOR] ASC,
	[NRO_LIBRO] ASC,
	[NRO_COPIA] ASC,
	[F_PREST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[InconsistenciaPrestamoCopias]    Script Date: 11/06/2022 07:28:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[InconsistenciaPrestamoCopias]
AS
	 SELECT C.[NRO_LIBRO] AS NumeroLibro, C.[NRO_COPIA] AS NumeroCopia, C.[ESTADO] AS EstadoCopia
		
	 FROM COPIAS C INNER JOIN PRESTAMO P ON C.[NRO_LIBRO] = P.[NRO_LIBRO] AND C.[NRO_COPIA] = P.[NRO_COPIA]
	 	   WHERE C.[ESTADO] IS NULL -- devuelve 9 valores en el caso que el décimo prestamo este en 'D'.
GO
/****** Object:  Table [dbo].[LECTOR]    Script Date: 11/06/2022 07:28:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LECTOR](
	[NRO_LECTOR] [int] NOT NULL,
	[NOMBRE] [char](22) NULL,
	[DIRECCION] [char](30) NULL,
	[TRABAJO] [char](10) NULL,
	[SALARIO] [smallmoney] NULL,
	[ESTADO] [char](1) NULL,
 CONSTRAINT [PK_LECTOR] PRIMARY KEY CLUSTERED 
(
	[NRO_LECTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 11/06/2022 07:28:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRO](
	[NRO_LIBRO] [int] NOT NULL,
	[TITULO] [char](40) NULL,
	[AUTOR] [char](30) NULL,
	[TIPO] [char](2) NULL,
	[PRECIO_ORI] [smallmoney] NULL,
	[PRECIO_ACT] [smallmoney] NULL,
	[EDICION] [smallint] NULL,
	[ESTADO] [char](1) NULL,
 CONSTRAINT [PK_LIBRO] PRIMARY KEY CLUSTERED 
(
	[NRO_LIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOLIBRO]    Script Date: 11/06/2022 07:28:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOLIBRO](
	[TIPO] [char](2) NOT NULL,
	[DESCTIPO] [char](40) NULL,
 CONSTRAINT [PK_TIPOLIBRO] PRIMARY KEY CLUSTERED 
(
	[TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[COPIAS] ([NRO_LIBRO], [NRO_COPIA], [ESTADO]) VALUES (5078912, 1, NULL)
INSERT [dbo].[COPIAS] ([NRO_LIBRO], [NRO_COPIA], [ESTADO]) VALUES (5078912, 2, NULL)
INSERT [dbo].[COPIAS] ([NRO_LIBRO], [NRO_COPIA], [ESTADO]) VALUES (5078912, 3, NULL)
GO
INSERT [dbo].[LECTOR] ([NRO_LECTOR], [NOMBRE], [DIRECCION], [TRABAJO], [SALARIO], [ESTADO]) VALUES (123456, N'GOMEZ Arnoldo         ', N'Avda. La Reja 2234 - Capital  ', N'EMPLEADO  ', 1234.5000, NULL)
INSERT [dbo].[LECTOR] ([NRO_LECTOR], [NOMBRE], [DIRECCION], [TRABAJO], [SALARIO], [ESTADO]) VALUES (123467, N'FERNANDEZ Guillermo   ', N'San Pedro 987 - Moron         ', N'EJECUTIVO ', 3245.5000, NULL)
INSERT [dbo].[LECTOR] ([NRO_LECTOR], [NOMBRE], [DIRECCION], [TRABAJO], [SALARIO], [ESTADO]) VALUES (123478, N'GARCIA Manuel         ', N'Avda de los Sioux 2211 - Korn ', N'VENDEDOR  ', 1345.5000, NULL)
GO
INSERT [dbo].[LIBRO] ([NRO_LIBRO], [TITULO], [AUTOR], [TIPO], [PRECIO_ORI], [PRECIO_ACT], [EDICION], [ESTADO]) VALUES (5078912, N'LAS MIL Y UNA NOCHES                    ', N'GALLAND A.                    ', N'no', 20.3000, 34.2000, 1948, N'D')
INSERT [dbo].[LIBRO] ([NRO_LIBRO], [TITULO], [AUTOR], [TIPO], [PRECIO_ORI], [PRECIO_ACT], [EDICION], [ESTADO]) VALUES (6094527, N'FUENTEOVEJUNA                           ', N'LOPE DE VEGA                  ', N'no', 18.3500, 32.1000, 1978, N'D')
INSERT [dbo].[LIBRO] ([NRO_LIBRO], [TITULO], [AUTOR], [TIPO], [PRECIO_ORI], [PRECIO_ACT], [EDICION], [ESTADO]) VALUES (7034567, N'DICCIONARIO ITALIANO-ESPANOL            ', N'CERRUTI J.                    ', N'di', 32.7000, 32.7000, 1992, N'D')
GO
INSERT [dbo].[PRESTAMO] ([NRO_LECTOR], [NRO_LIBRO], [NRO_COPIA], [F_PREST], [F_DEVOL]) VALUES (123456, 10545377, 1, CAST(N'2018-03-01T00:00:00.000' AS DateTime), CAST(N'2018-03-10T00:00:00.000' AS DateTime))
INSERT [dbo].[PRESTAMO] ([NRO_LECTOR], [NRO_LIBRO], [NRO_COPIA], [F_PREST], [F_DEVOL]) VALUES (123456, 10545377, 2, CAST(N'2018-03-02T00:00:00.000' AS DateTime), CAST(N'2018-06-10T00:00:00.000' AS DateTime))
INSERT [dbo].[PRESTAMO] ([NRO_LECTOR], [NRO_LIBRO], [NRO_COPIA], [F_PREST], [F_DEVOL]) VALUES (123456, 10558904, 1, CAST(N'2018-03-01T00:00:00.000' AS DateTime), NULL)
GO
INSERT [dbo].[TIPOLIBRO] ([TIPO], [DESCTIPO]) VALUES (N'cu', N'Cuentos                                 ')
INSERT [dbo].[TIPOLIBRO] ([TIPO], [DESCTIPO]) VALUES (N'di', N'Diccionario                             ')
INSERT [dbo].[TIPOLIBRO] ([TIPO], [DESCTIPO]) VALUES (N'es', N'Estudio                                 ')
GO
ALTER TABLE [dbo].[LIBRO] ADD  CONSTRAINT [DF_ESTADO]  DEFAULT ('D') FOR [ESTADO]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_LIBRO_TIPOLIBRO] FOREIGN KEY([TIPO])
REFERENCES [dbo].[TIPOLIBRO] ([TIPO])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [FK_LIBRO_TIPOLIBRO]
GO
ALTER TABLE [dbo].[LECTOR]  WITH CHECK ADD  CONSTRAINT [CHK_SALARIO] CHECK  (([SALARIO]>(0)))
GO
ALTER TABLE [dbo].[LECTOR] CHECK CONSTRAINT [CHK_SALARIO]
GO
/****** Object:  StoredProcedure [dbo].[CheckEstadoCopia]    Script Date: 11/06/2022 07:28:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckEstadoCopia]
	@NroCopia smallint, 
	@NroLibro int

AS
	
	declare @EstadoCopia char(1)
	
	BEGIN

	SET @EstadoCopia = (SELECT ESTADO FROM COPIAS WHERE NRO_COPIA= @NroCopia AND NRO_LIBRO = @NroLibro)
	IF @EstadoCopia = 'D'
	
	PRINT 'La copia esta disponible/devuelta'

	ELSE

  RAISERROR ('La copia no esta disponible', -- Message text.  
               16, -- Severity.  
               16 -- State.  
               ); 
		


	END
GO
/****** Object:  StoredProcedure [dbo].[CheckEstadoLector]    Script Date: 11/06/2022 07:28:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckEstadoLector]

	@NroLector int

AS
	
	declare @EstadoLector char(1)
	
	BEGIN

	SET @EstadoLector = (SELECT ESTADO FROM LECTOR WHERE NRO_LECTOR = @NroLector)
	IF @EstadoLector = 'H'
	
	PRINT 'El lector está habilitado'

	ELSE

  RAISERROR ('El lector no esta habilitado para prestamo', -- Message text.  
               18, -- Severity.  
               18 -- State.  
               ); 
		


	END
GO
/****** Object:  StoredProcedure [dbo].[CheckEstadoLibro]    Script Date: 11/06/2022 07:28:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckEstadoLibro]

	@NroLibro int

AS
	
	declare @EstadoLibro char(1)
	
	BEGIN

	SET @EstadoLibro = (SELECT ESTADO FROM LIBRO WHERE NRO_LIBRO = @NroLibro)
	IF @EstadoLibro = 'D'
	
	PRINT 'El libro esta disponible'

	ELSE

  RAISERROR ('El libro no esta disponible', -- Message text.  
               17, -- Severity.  
               17 -- State.  
               ); 
		


	END
GO
/****** Object:  StoredProcedure [dbo].[CheckFecha]    Script Date: 11/06/2022 07:28:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckFecha]

	@FechaPres datetime,
	@FechaDev datetime

	AS

		BEGIN

		IF @FechaDev >= @FechaPres

		PRINT 'Las fechas están ok'

		ELSE

		 RAISERROR ('La fecha de devolución no puede ser menor a la de prestamo', -- Message text.  
               15, -- Severity.  
               15 -- State.  
               ); 


		END

		
GO
/****** Object:  StoredProcedure [dbo].[UpdateEstadoCopias]    Script Date: 11/06/2022 07:28:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEstadoCopias]
	@NroLector int,
	@NroLibro int,
	@FechaPres datetime,
	@FechaDev datetime,
	@NroCopia smallint

	
AS

	BEGIN

	EXECUTE CheckEstadoLector @NroLector
	EXECUTE CheckEstadoLibro @NroLibro
	EXECUTE CheckFecha @FechaPres,@FechaDev
	EXECUTE CheckEstadoCopia @NroCopia, @NroLibro



	UPDATE COPIAS
		SET ESTADO = 'P'
		WHERE NRO_LIBRO = @NroLibro AND NRO_COPIA = @NroCopia
		PRINT 'SPs OK. COPIA ACTUALIZDA CON EXITO'
	
	
END

GO
USE [master]
GO
